<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>

  	<div id="root"></div>
    
  	<div>
		<% for (key in htmlWebpackPlugin.files.js) { %>

			<script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[key].split('/').pop() %>"></script></body>

		<% } %>
  	</div>

  </body>
</html>